<label for="preg" class="ren">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta%>"/><p>
<label for="resp" class="ren">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/><p>
<select name="quiz[opcion]">
  <option value="otro" <%= ("otro" === quiz.opcion)? "selected" : ""%>>Otro</option>
  <option value="humanidades" <%= ("humanidades" === quiz.opcion) ?"selected":""%> >Humanidades</option>
  <option value="ocio" <%= ("ocio" === quiz.opcion)? "selected":""%> >Ocio</option>
  <option value="ciencia" <%= ("ciencia" === quiz.opcion)? "selected":""%> >Ciencia</option>
  <option value="tecnologia" <%= ("tecnologia" === quiz.opcion)? "selected":""%> >Tecnología</option>
</select><p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
